@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display";
    scroll-behavior: smooth;
    user-select: none;
}

body {
    background: #1B1A17;
}

main {
    width: 100%;
    height: 100%;
}

/* Navigation bar */

nav {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

nav h1 {
    color: #E6D5B8;
    font-size: 5rem;
}

nav a {
    text-decoration: none;
}

.show-hide {
    background: transparent;
    border: none;
}

.navbar {
    z-index: 100;
    width: 100%;
    height: 0;
    background: #E6D5B8;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 1.5s cubic-bezier(0.60, 0, 0.160, 1);
}

.navbar a {
    color: #1B1A17;
    text-decoration: none;    
    font-size: 7rem;
    margin: 32px;
    font-style: italic;
}

.navbar.show {
    height: 100vh;
}

.navbar.hide {
    height: 0;
}

/* Welcome message*/

.welcome {
    height: 100vh;
    width: 100%;
    color: #E6D5B8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.front {
    font-size: 7.5rem;
    font-style: normal;
    animation: go 5s ease-in-out infinite;
}

.reli {
    font-size: 6.5rem;
    font-style: italic;
    font-weight: 400;
    animation: move 5s ease-in-out infinite;
}

.dev {
    font-size: 6.8rem;
    font-style: italic;
    font-weight: 600;
    animation: go 4s ease-in-out infinite;
}

/* Profile */
.perkenalan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.perkenalan p {
    font-size: 3.2rem;
    font-weight: 400;
    color: #E6D5B8;
    word-spacing: 2px;
}

.more-info {
    border: none;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E6D5B8;
    font-weight: bold;
    font-size: 3.5rem;
    animation: jiggle 1s ease-in-out infinite;
}

.more-tab {
    margin: 1rem;
    width: 100%;
    height: 0;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 2s cubic-bezier(0.60, 0, 0.160, 1);
}

.more-tab.start {
    height: 1650px;
    border-top: 1px solid #E6D5B8;
    border-bottom: 1px solid #E6D5B8;
}

.more-tab img {
    border-radius: 2rem;
    border: 1px solid #E6D5B8;
    margin-top: 1rem;
}

.more-tab h1 {
    font-size: 3rem;
    color: #E6D5B8;
    margin-bottom: 2rem;
}

.skill {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill h3 {
    margin-top: 3rem;
    font-size: 2.3rem;
    color: #E6D5B8;
}

/* Progress Bar */

.progress-container {
  width: 100%;
  height: 1rem;
  overflow: hidden;
}

.progress-bar {
  height: 1rem;
  background: #E6D5B8;
  border-radius: 3rem;
  width: 0;
  transition: width 1.1s ease-in-out;
  transition-delay: 1s;
}

.progress-bar2 {
  height: 1rem;
  background: #E6D5B8;
  border-radius: 3rem;
  width: 0;
  transition: width 0.8s ease-in-out;
  transition-delay: 1s;
}

.progress-bar3 {
  height: 1rem;
  background: #E6D5B8;
  border-radius: 3rem;
  width: 0;
  transition: width 1s ease-in-out;
  transition-delay: 1s;
}

.progress-bar4 {
  height: 1rem;
  background: #E6D5B8;
  border-radius: 3rem;
  width: 0;
  transition: width 1s ease-in-out;
  transition-delay: 1s;
}

.more-tab.start .progress-bar {
  width: 70%;
}

.more-tab.start .progress-bar2 {
  width: 45%; 
}

.more-tab.start .progress-bar3 {
  width: 30%;
}

.more-tab.start .progress-bar4 {
  width: 50%;
}

/* Jobs */

.jobs {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-bottom: 0.6px solid #403d35;
}

.jobs h4 {
    color: #E6D5B8;
    width: auto;
    height: auto;
    font-size: 2rem;
    background: #1b1a17;
    border: 1px solid #403d35;
    border-radius: 100px;
    margin: 1.2rem;
    padding: 1.1rem;
    text-align: center;
    transition: color 0.4s ease-in, background 0.5s ease-in;
}

.jobs h4:hover {
    background: #E6D5B8;
    color: #1B1A17;
    border: 1px solid #403D3A;
}

/* dowload */

.downCV {
    width: 75%;
    height: auto;
    text-decoration: none;
    color: #E6D5B8;
    font-weight: bold;
    font-size: 2rem; 
    border: 1px solid #403d35;
    border-radius: 100px;
    background: #1B1A17;
    padding: 1.5rem;
    margin: 1rem;
    text-align: center; 
    transition: color 0.4s ease-in, background 0.5s ease-in;
}

.downCV:hover {
    background: #E6D5B8;
    color: #1B1A17;
    border: 1px solid #403D3A;
}

/* Project */

.project {
    width: 100%;
    margin-bottom: rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.project h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: bold;
    color: #E6D5B8;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proj1 {
    border-radius: 50px;
    border: 1px solid #E6D5B8;
    margin-bottom: 2rem;
}

.proj2 {
    border-radius: 50px;
    border: 1px solid #E6D5B8;
    margin-bottom: 2rem;
}

.project div h2 {
    color: #E6D5B8;
    font-size: 3rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*education */

.education {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: bold;
    color: #E6D5B8;
}

.school {
    width: 75%;
    height: auto;
    border: 1px solid #E6D5B8;
    border-radius: 50px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin: 2rem;
}

.school h3 {
    color: #E6D5B8;
    font-size: 3rem;
}

.school h5 {
    color: #E6D5B8;
    font-size: 2rem;
}

/* footer */

footer {
    height: auto;
    width: 100%;
    border-top: 2px solid #E6D5B8;
    margin-top: 400px;
}

.icon {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.icon a {
    width: 90px;
    height: 90px;
    justify-content: center;
    align-content: center; 
    background: #E6D5B8;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 1rem;
}

.icon img {
    width: 60px; 
    height: auto; 
    margin: 16px;
}

.more h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #E6D5B8;
    margin: 3rem
}

.more a {
    font-size: 3rem;
    font-weight: bold;
    color: #E6D5B8;
    text-decoration: none;
}

.more {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


/* Animation */
@keyframes move {
    0% {
        transform: translateX(10px);
    }
    
    50%{
        transform: translateX(-10px);
    }
    
    100% {
        transform: translateX(10px);
    }
}

@keyframes go{
    0% {
        transform: translateX(-13px);
    }
    
    50%{
        transform: translateX(13px);
    }
    
    100% {
        transform: translateX(-13px);
    }
} 

@keyframes jiggle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.98);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
